.button {
	.spinner__wrapper {
		display: inline-block;

		.spinner {
			margin-top: 0;
		}
	}
}

.spinner {
	float: none;
}

.image-crop-positioner-spinner {
	float: none;
}

.button {
	margin-top: 0;

	.image-crop-positioner-spinner {
		margin-top: 0;

		&__wrapper {
			display: inline-block;
		}
	}
}
