/.idea/
/cache/
/node_modules/
/development/config.local.json
bundle-analyzer.json
/cache/
/vendor/
/languages/

## Testing
/.phpunit.result.cache
/tests/coverage
.secrets
codeception.yml
.env.testing.local

# Ignore Mac OSX related files
.DS_Store
.AppleDouble
.LSOverride
