<?xml version="1.0"?>
<psalm
    totallyTyped="true"
    autoloader="psalm-autoloader.php"
    errorLevel="2"
    hideExternalErrors="true"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
    errorBaseline="psalm.baseline.xml"
>
    <projectFiles>
        <directory name="./app" />
		<directory name="./templates" />
		<file name="place-that-face.php" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>
</psalm>
